<div class="landing-body">
    <header class="d-flex justify-content-between align-items-center">
        <!-- Logo -->
        <div class="logo text-uppercase d-flex align-items-center" (click)="home()">
            SPACE <img src="../../assets/icon/saturn.png" width="25px" style="margin-left: 5px;">
        </div>

        <!-- Icons -->
        <div class="d-flex">
            <a class="icon" href="https://www.facebook.com/thulovesanji" target="_blank">
                <img src="../../assets/icon/facebook-app-symbol.png" width="25px"></a>
            <a class="icon" href="mailto:phamthushame2002@gmail.com" target="_blank">
                <img src="../../assets/icon/email.png" width="25px"></a>
        </div>
    </header>

    <main class="container-fluid">
        <div class="login-form-wrapper">
            <form class="login-form">
                <h2 class="form-title">Login</h2>
                <div class="form-group">
                    <!-- <label for="phone">Phone</label> -->
                    <input type="text" id="phone" name="phone" placeholder="Phone" required>
                </div>
                <div class="form-group">
                    <!-- <label for="password">Password</label> -->
                    <input type="password" id="password" name="password" placeholder="Password" required>
                </div>
                <div class="form-group remember-me">
                    <input type="checkbox" id="remember" name="remember">
                    <label for="remember">Remember me</label>
                    <span class="forgot-password"><a href="/forgot-password">Forgot password?</a></span>
                </div>
                <button type="submit" class="btn-login" (click)="check()">Login</button>
                <p class="or-text">OR</p>

                <button type="button" class="btn-google" id="google-button">
                    <img src="../../assets/icon/google.png" width="20px" style="margin-right: 10px;"> Continue with
                    Google
                </button>

                <p class="new-account-text">
                    Don't have an account? <a href="/signup">Create a new account</a>
                </p>
            </form>
        </div>
    </main>
</div>