<div class="modal fade" id="story" tabindex="-1" aria-labelledby="customModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content custom-modal-card">
            <div class="image-preview justify-content-center row" id="imagePreview" (click)="remove()">
                <!-- <p class="t-remove">Remove</p> -->
                {{ imagePreviewText }}
            </div>

            <span class="t-grey-small">{{ size }}</span>

            <div class="text-center d-flex justify-content-center">
                <label for="fileUpload" class="btn btn-upload">
                    <img src="../../../assets/icon/upload.png" width="25px">
                </label>
                <input type="file" id="fileUpload" accept="image/*" (change)="onFileUpload($event)"
                    style="display: none;">
            </div>

            <div class="p-3 text-center d-flex justify-content-center">
                <button for="fileUpload" class="btn btn-post" [disabled]="disabled" (click)="post()">
                    Post
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Spinner -->
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>